<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <container>
      <extension type="Interception"/>
      <!--Cache Provider-->
      <!--<register type="ELLoggingTest.ITalk, ELLoggingTest" mapTo="ELLoggingTest.Talk, ELLoggingTest">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="ELLoggingTest.InterceptionBehaviors.CachingBehavior, ELLoggingTest"/>
        <interceptionBehavior type="ELLoggingTest.InterceptionBehaviors.ExceptionLoggingBehavior, ELLoggingTest"/>
      </register>-->
    </container>
  </unity>
</configuration>